:root {
  --profile-border-color: #000000;
  --profile-secondary-border-color: #d6d5d5;
  --profile-bg-color: #ffffff;
  --active-element-bg-color: #93b5c6;
  --active-element-color: #4c9fc9;

  --service-card-bg-color: #f3f3f3;
  --service-card-rating-color: #daa520;
  --card-shadow-color: rgba(0, 0, 0, 0.2);
}

.service-information {
  margin: 50px;
  width: 80%;
  padding: 20px 0px;
  border-bottom: 2px solid var(--profile-secondary-border-color);
}

.service-reviews {
  font-size: 1.5rem;
  margin: 50px;
  width: 80%;
  border-top: 2px solid var(--profile-secondary-border-color);
}

.review-card {
  overflow: hidden;
  margin: 25px 30px;
  margin-bottom: 30px;
  background-color: var(--service-card-bg-color);
  border-radius: 20px;
  padding: 1rem;
  max-width: 25rem;

  box-shadow: 0 4px 8px 0 var(--card-shadow-color);
  transition: 0.3s;
}
.review-card:hover {
  box-shadow: 0 10px 16px 0 var(--card-shadow-color);
}

.review-card-title {
  font-weight: 800;
}

.review-card-freelancer {
  float: left;
}

.review-status-label {
  color: #0f0f0f;
  font-size: 0.8rem;
  font-style: normal;
}

.review-rating {
  color: var(--service-card-rating-color);
  float: right;
  font-size: 1.2rem;
}

.review-card-description {
  clear: both;
  float: left;
}
