:root {
  --category-card-bg-color: #93b5c6;
  --category-card-content-color: #0f0f0f;
  --service-card-bg-color: #eeeeee;
  --service-card-img-bg-color: #b9a8a8;
  --service-freelancer-color: rgb(224, 3, 3);
  --service-card-rating-color: #daa520;
  --card-shadow-color: rgba(0, 0, 0, 0.2);
  --service-review-count-color: rgb(117, 117, 117);
}

.services-section{
  margin-bottom: 12rem;
}

.category-card {
  margin: 15px;
  background-color: var(--category-card-bg-color);
  border-radius: 20px;
  padding: 1rem;
  max-width: 9rem;
  max-height: 9rem;
  min-width: 8.75rem;
  box-shadow: 0 4px 8px 0 var(--card-shadow-color);
  transition: 0.3s;
}
.category-card:hover {
  box-shadow: 0 10px 16px 0 var(--card-shadow-color);
  cursor: pointer;
}

.category-card-img {
  color: var(--category-card-content-color);
  font-size: 3.5rem;
  margin: 5px;
}

.category-card-title {
  color: var(--category-card-content-color);
  font-size: 1rem;
  padding-bottom: 4px;
  font-weight: 800;
  transition: 0.15s;
}
.category-card:hover .category-card-title {
  color: var(--category-card-content-color);
  padding-bottom: 2px;
  border-bottom: 2px solid black;
  transition: 0.15s;
}

.service-card {
  margin: 100px 15px;
  background-color: var(--service-card-bg-color);
  border-radius: 5px;
  padding: 1rem;
  max-width: 17rem;

  box-shadow: 0 4px 8px 0 var(--card-shadow-color);
  transition: 0.3s;
}
.service-card:hover {
  box-shadow: 0 10px 16px 0 var(--card-shadow-color);
  cursor: pointer;
}

.service-category{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: -80px;
  margin-bottom: 10px;
  padding: auto;
  width: 9rem;
  height: 8rem;
  background-color: var(--service-card-img-bg-color);
  border-radius: 5px;
}

.service-category-img{
  color: var(--category-card-content-color);
  font-size: 3.5rem;
  margin-top: 25px;
}

.service-category-title{
  color: var(--category-card-content-color);
  font-size: 1rem;
  font-weight: 800;
  transition: 0.15s;
}

.service-card-title {
  font-weight: 800;
}

.service-card-freelancer {
  color: var(--service-freelancer-color);
  float: left;
}

.service-card-rating {
  color: var(--service-card-rating-color);
  float: right;
  font-size: 1.2rem;
}

.service-review-count {
  color: var(--service-review-count-color);
  font-size: 1rem;
  font-style: normal;
}

.service-card-description {
  clear: both;
  float: left;
}

/* @author Ryan */
/* this is a rolling text in jumbotron */
.rolling-text {
  display: inline-block;
  margin: auto;
  background: var(--brand-color);
  padding: 0 5px 5px 5px;
  border-radius: 3px;
  transition: 1s ease-in;
}
.rolly-container {
  display: inline-flex;
  min-width: 129px;
}

