:root{
    --body-bg-color :#f3f3f3;
    --brand-color: #e03616;
    --active-element-color: #93b5c6;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Sen', sans-serif;
}

#navbar{
    transition: 0.5s;
}

.wislah-brand{
    font-size: 3rem;
    color: var(--brand-color);
    letter-spacing: 8px; 
    font-weight: 800;
    transition: 0.3s;
}
.wislah-brand:hover{
    transition: 0.3s;
    color: var(--active-element-color);
    letter-spacing: 2px;
    padding-left: 14px;
}

.wislah-nav-item{
    color: var(--brand-color);
    transition: 0.3s;
}
.wislah-nav-item:hover{
    color: var(--brand-color);
    background-color: #dddddd;
    border-left: 2px solid var(--brand-color);
    border-right: 2px solid var(--brand-color);
    border-radius: 5px;
    transition: 0.3s;
}
.wislah-nav-item-icon{
    color: var(--brand-color);
    transition: 0.3s;
}
.wislah-nav-item-icon:hover{
    color: rgb(255, 5, 5);
    background-color: #dddddd;
    border-radius: 5px;
    transition: 0.3s;
}

.wislah-sign-in-from{
    float: right;
    margin-right: 30%;
}


/* I just want the main container to be larger than what was default in bootstrap so I increased it for container */
@media (min-width: 1400px) {
    .container{
        max-width: 1340px;
    }
}
@media (min-width: 1600px) {
    .container{
        max-width: 1540px;
    }
}